@import '../styles/breakpoints.scss';

$background-color: #FEFDFF;
$base-font-color: #584d4d;
$brand-color: #9F558E;
$menu-color: #2A0E28;
$on-hover: #d4738b;

@mixin global-padding {
   padding: 0 8rem;

   @include media-xl-up {
      padding: 0 15rem;
   }
   @include media-xxl-up {
      padding: 0 30rem;
   }
   @include media-md-down {
      padding: 0 4rem;
   }
   @include media-sm-down {
      padding: 0 2rem;
   }
}