@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.banner {
   margin: -.5rem;
   position: relative;

   .heroVideo {
      width: 100%;
   }

   .bannerContentContainer {
      position: absolute;
      text-align: center;
      width: 100%;

      .spacing {
         padding: 6rem 0 0;
         max-width: 70%;
         margin: auto;
      }
      .mainLogo {
         width: 13%;
      }
      .title {
         color: $background-color;
         position: relative;
         margin-top: 1rem;
         text-shadow: 0px 2px 10px rgba(0, 0, 0, .4);
         z-index: 1;
      }

      @include media-lg-down {
         .spacing {
            padding: 5rem 2rem 0;
            @-moz-document url-prefix() {
               padding: 5.5rem 2rem 0;
            }
         }
         .title {
            font-size: 1.3rem;
            margin-top: 0;
         }
      }

      @include media-md-down {
         .spacing {
            padding: 5.5rem 2rem 0;
         }
         .mainLogo {
            width: 20%;
         }
         .title {
            margin-top: 10rem;
            color: $brand-color;
            text-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
         }
      }

      @include media-sm-down {
         .mainLogo {
            display: none;
         }
         .spacing {
            padding: 8.5rem 2rem 0;
         }
         .title {
            margin-top: 7rem;
         }
      }

      @include media-xs-down {
         .title {
            margin-top: 5rem;
         }
      }
   }

   .cta {
      position: relative;
      z-index: 1;
      background-color: transparent;
      color: $background-color;
      border-color: $background-color;
      font-size: 1.1rem;
      padding: 10px 10px 7px;
      transition: all ease-in-out .3s;
      text-shadow: 0px 2px 10px rgba(0, 0, 0, .4);

      &:hover {
         background-color: $background-color;
         color: $brand-color;
      }

      @include media-md-down {
         text-shadow: none;
         font-size: 90%;
         background-color: $background-color;
         color: $brand-color;
         border-color: $brand-color;
         padding: 7px 6px 5px;

         &:hover {
            color: $background-color;
            border-color: $brand-color;
            background-color: $brand-color;
         }
      }
   }

   &:after {
      content: '';
      background: linear-gradient(180deg, rgba(255,255,255,0) 0%, $background-color 100%);
      display: block;
      position: absolute;
      bottom: 0;
      height: 5rem;
      width: 100%;
      z-index: 0;
   }
}