@import '../../../styles/variables.scss';
@import '../../../styles/breakpoints.scss';

.aboutMe {
   margin-top: 20rem;
   margin-bottom: 5rem;
   display: flex;

   .textContainer {
      position: relative;
      right: 7rem;
      margin-top: 5rem;
      width: 30%;

      .ctaContainer {
         display: flex;
         justify-content: space-between;

         .signature {
            position: relative;
            width: 100%;
            height: 6rem;
            transform: rotate(-15deg);
         }
      }
   }

   @include media-lg-down {
      margin-top: 15rem;
      margin-bottom: 0;
   }

   @include media-md-down {
      margin-top: 10rem;

      .textContainer {
         margin-top: 10rem;
         margin-left: auto;
   
         .signature {
            top: -2rem;
            left: 2rem;
         }
      }
   }

   @include media-sm-down {
      padding: 0 2rem;
      flex-direction: column;
      margin-top: 0;

      .textContainer {
         width: 100%;
         margin: 0;
         right: 0;

         .signature {
            top: 1rem;
            left: 0;
         }
      }
   }

   @include media-xs-down {
      .textContainer {
         .signature {
            top: -1rem;
            width: 45% !important;
         }
      }
   }

   .imageContainer {
      position: relative;
      height: 45rem;
      width: 60%;

      @include media-sm-down {
         height: 30rem;
         width: 100%;
         img {
            object-position: center !important;
         }
      }
      @include media-xs-down {
         height: 21rem;
      }
   }

   .quote {
      font-family: 'Azo Sans Light';
      font-style: italic;
      margin-bottom: 2rem;
   }

   .link {
      display: flex;
      align-items: center;
      font-size: 140%;
      font-family: 'Azo Sans Bold';
      width: fit-content;

      div {
         position: relative;
         bottom: 1px;
      }
   }
}